@import "../../variables.scss";

.list-item {
  width: 100%;
  height: inherit;
  padding: 8px 16px 24px;
  border-radius: 8px;
  font-family: $default-font;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  h3 {
    overflow: auto;
    &:hover {
      cursor: url("../../images/pen-icon.png"), default;
    }

    &:focus {
      outline: none;
      cursor: text;
  }
}

  p {
    padding: 4px 0;
  }

  button {
    align-self: flex-end;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 4px;
    margin-bottom: 4px;
    margin-right: -20px;
    margin-top: -16px;
    background-color: inherit;
    filter: contrast(80%) brightness(130%)
      drop-shadow(-2px 3px 28px $black-color);
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $black-color;
      color: $white-color;
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}
