@import "../../variables";

.sidebar {
  width: 144px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white_color;
  border-right: 1px solid $grey_color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px 8px 40px;
  text-align: center;

   &--container {
     width: 100%;
   }

  &__title {
    font-family: $default-font;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 40px;
    overflow-y: scroll;
  }

  &__add {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    padding: 8px;
    background-color: $black_color;
    color: white;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $dark_blue_color;
      transform: scale(1.2);
      cursor: pointer;
    }
  }
  &__return {
    font-size: 40px;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $dark_blue_color;
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  @media (max-width: $breakpoint-ipad-screen) and (min-width: $breakpoint-ipad-screen) {
    width: 200px;
  }

  @media (max-width: $breakpoint-phone-screen) {
    width: 108px;
  }
}
