$default-font: 'Urbanist', sans-serif;

// colors
$white_color: #fbfbfc;
$grey_color: #cacacb;
$blue_color: #91b3fa;
$dark_blue_color: #4548ed;
$black_color: #171416;
$green_color: #e4ee90;
$purple_color: #B792FF;
$light_purple_color: #e5ecfe;
$orange_color: #FF9B73;
$yellow_color: #FFC971;

// breakpoints
$breakpoint-ipad-screen: 1024px;
$breakpoint-half-screen: 768px;
$breakpoint-phone-screen: 500px;
$breakpoint-smaller-phone: 360px;